# File di build e oggetti
build/
*.o
*.d

# Log di sistema e debug
log/
*.log

# Documentazione varia
docs/

# Appunti personali
LOGBOOK.md
Itinerario.md

# Cartelle per testing
libce-4.3/
qemu-ce-9.2.2-3/
