# File di build e oggetti
build/
*.o
*.d

# Immagine disco
share/hd.img

# Log di sistema e debug
log/
*.log

# Documentazione generata
doc/

# File di sistema e IDE
.DS_Store
.vscode/

# Appunti personali
*.md

# Cartelle per testing
libce-4.3/
qemu-ce-9.2.2-3/